!!!
%html
  %head
    %meta{name: "baidu-site-verification", content: "gGfEuQtTHa"}/
    %meta{content: 'width=device-width, initial-scale=1, user-scalable=no', name: :viewport}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 田子创意
    = csrf_meta_tags
    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    = react_component('Footer')
